<body class="text thin">

	<section class="padding">

		<div class="row">
			<div class="column_3">
				<div class="image margin-left">
				<%= image_tag("dadphoto_copy.jpg", :width => "140px", :height => "190px", :class => "responsive rounded") %></div>
			</div>
			<div class="column_7 offset_1">
				<h3>Adeyemi Fatoki MD</h3>
				<hr>
				<p class="margin-bottom">
					Dr. Fatoki is a licensed and board certified physician in Family Medicine, Bariatric and Addiction Medicine. In 2007, Dr. Fatoki attended his first American Society of Bariatric Physicians (ASBP) meeting. Here, he encountered and acquired new knowledge from specialists and professionals in the treatment of obesity. That same year, he took ownership of a Bariatric Clinic and initiated his personal obesity treatment style. Dr. Fatoki’s observations and studies continued to stimulate his interest in obesity and the role of addiction in human behavior. Having an established career in Family Medicine, including his own private practice, he set out to become board certified in Bariatric medicine.<br></p>

				<p class="margin-bottom">
					Since then, Dr. Fatoki has devoted his time to helping his patients lose weight the natural way, by analyzing the foods 	you currently eat and making personalized recommendations to your eating lifestyle. He does not consider this a diet. Instead he calls it a “lifestyle modification”, where he gives you recommendations to tweak what you currently eat. This allows you to still enjoy the foods that you love, but in a way that results in a healthy lifestyle. <br></p>

				<p class="margin-bottom">
					Over the years his results have been staggering. Not only are his patients losing weight, but their blood pressure and cholesterol levels among others things are improving to the point where they no longer need medication. This profound success within his office prompted Dr. Fatoki to publish a book in November 2012 called <a href="http://www.amazon.com/The-Fatoki-Protocol-Its-about/dp/0988628902">The Fatoki Protocol: It’s all about the 1/3.</a> <br></p>

					<p>Dr. Fatoki currently has two offices in the Chicagoland Area where he continues to see tremendous success in his Bariatric patients.</p>
			</div>
		</div>

	</section>


</body>