<body class="text thin">

	<section class="padding">

		<div class="row margin-bottom">
			<div class="column_6 text align center">
				<h2>Calumet City Office</h2>
				<p class="location-text">
					1473 Ring Rd. <br>
					Calumet City, IL 60409<br>
					Phone: 708.862.8156<br>
					Fax: 708.862.8105</p>
			</div>
			<div class="column_6 text align center">
				<h2>Ottawa Office</h2>
				<p class="location-text">
					110 E Main Street, Suite 226<br> 
					Ottawa, IL 61350<br>
					Phone: 815.434.0228</p>
			</div>
		</div>
		<div class="row">
			<div class="column_6 offset_3">
			</div>
		</div>

	</section>


</body>