<section class="padding">
	<div class="row">
		<div class="column_8 offset_2 padding bottom">
			<p>
				<strong>Title:</strong>
				<%= @post.title %>
			</p>

			<p>
				<strong>Author:</strong>
				<%= @post.author %>
			</p>

			<p>
				<strong>Text:</strong>
				<%= @post.text %>
			</p>
	<hr>
		<%= link_to 'Back', posts_path, {:class => "button secondary"} %>
			



		</div>
	</div>
</section>
